.about-body{
    background-color: dimgray;
    height: 90vh;
}

.about-brief {
    text-align: center;
    line-height: 2.5;
    font-size: 23px;
    color: #ffff;
    padding: 17px;
}


/* STACK SECTION*/
.stack-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    height: 25vh;
}

.stack-heading{
    text-transform: uppercase;
    color:#c0c5be;
    text-align: center;
    margin-top: 15rem;
    font-size: 25px;
}
  
  /*chrome*/
.stack-title {
    color: #eee;
}

.stack-progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 100px;
}
  
.stack-progress::-webkit-progress-value {
    background-color: #d48166;
    border-radius: 100px;
}
  
  /*firefox*/
.stack-progress::-moz-progress-bar {
    background-color: #eee;
    border-radius: 100px;
}
  
  /*IE10*/
.stack-progress {
    color: #f9320a;
    border-radius: 100px;
}
  
.stack-progress-wrapper label {
    display: block;
}
  


/* media queries */
@media only screen and (max-width: 1100px){
.about-brief{
    font-size: 25px;
}
}

@media only screen and (max-width: 768px) {
.about-brief{
    line-height: 4;
    font-size: 19px;
    padding: 20px;
}

.stack-heading, .about{
    font-size: 17px;
}
}


@media only screen and (max-width: 480px){
.about-brief {
    line-height: 2.5;
    font-size: 17px;
    padding: 15px;
}

.stack-heading, .about{
    font-size: 20px;
}

.stack-group{
    display: block;
}

#stack3{
    margin-top: 3rem;
}

}