.sMedia {
    color: #ccc;
    font-size: 20px;
}

.sMedia:hover{
    color: #d48166;
}

a{
    text-decoration: none;
}

.connect-with-me{
    height: 100vh;
}
  
.contact-body{
    background-color: dimgray ;
}

  /* SOCIAL MEDIA*/
.social-account-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 100px;
  }
  
  .fontIcon{
    width: 75px;
    height: 75px;
    color: #d48166; /* either use color or fill*/
  }
  
  .social-account-wrapper svg:hover {
    fill: #ffff;
    cursor: pointer;
    position: relative;
    bottom: 10px;
  }

  

@media only screen and (max-width: 1100px){
    
.social-account-wrapper{
    margin-top: 10rem;
    gap: 90px;
}

.fontIcon{
    width: 65px;
    height: 65px;
    fill: #d48166; /* either use color or fill*/
}

.sMedia{
    font-size: 20px;
}

}

@media only screen and (max-width: 768px){
    .social-account-wrapper{
        margin-top: 10rem;
        gap: 70px;
    }
    
    .fontIcon{
        width: 55px;
        height: 55px;
        fill: #d48166; /* either use color or fill*/
    }
    
    .sMedia{
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 480px){
    .social-account-wrapper{
        margin-top: 11rem;
        gap: 30px;
    }
    
    .fontIcon{
        width: 35px;
        height: 35px;
        fill: #d48166; /* either use color or fill*/
    }
    
    .sMedia{
        font-size: 10px;
    }
    
}