/* hamburger */
.hamburger{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 768px){
    .hamburger{
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }

    .Links{
        position: fixed;
        left:8%;
        gap: 0;
        flex-direction: column;
        background-color:#373a36;
        width: 93%;
        color: white;
        text-align: center;
        transition: 0.3s;
    }

    .Links.close{
        display: none;
    }
    
    .open .icon{
        opacity: 0;
    }

}

@media only screen and (max-width: 480px){
    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }
    
}