/* hamburger */
.hamburger{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 768px){
    .hamburger{
        display: block;
        cursor: pointer;
        margin-right: 15px;
    }

    .Links{
        display: none;
    }
    
    .open ul{
        display: block;
        position: absolute;
        top: 3rem;
        right: -3rem; 
        padding: 0 3rem;
        background-color: #373a36;
        transition: 0.3s;
    }

}
