*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.slideshow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImages{
    margin: 15px 70px;
    width: 60%;
}

.text{
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 1100px){
    .slideshow{
        left: 30%;
        margin-top: 5rem;
    }
    
    .text{
        font-size: 20px;
        margin-top: 2rem;
    }
}
        
    
    
@media only screen and (max-width: 768px) {    
    .slideshow{
        /* max-width:1000px ; */
        margin-top: 1rem;
        left: 18%;
    }

    .projectImages{
        margin: 20px 60px;
        width: 70%;
    }
    
    
    h2{
        font-size: 16px;
    }
    
    .text{
        font-size: 15px;
    }
}
    
    
@media only screen and (max-width: 480px) {
    .slideshow{
        /* max-width: 500px; */
        margin-top: 4rem;
        left: 19%;
    }

    .projectImages{
        margin: 20px 8px;
    }

    .prevAngle{
        margin-bottom: -25rem;
        margin-left: 10rem;
    }

    .nextAngle{
        margin-bottom: -25rem;
        margin-right: 10rem;
    }
    
    h2{
        font-size: 14px;
    }
    
    .text{
        font-size: 10px;
    }
    
}
