*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.slideshow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectImages{
    margin: 70px;
    width: 60%;
}

